{#{% extends "registration/base.html" %}#}

<!DOCTYPE html>
<html lang="en">

{% load i18n %}
{#{% load brachy_tags %}#}

<head>
  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  <meta charset="utf-8">
  <title>BrachySeeds :: Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">


  {% block style_base %}
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}adminlte/css/adminlte{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}brachyseed/css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}toastr/css/toastr.css?v={{ CSS_VERSION }}" rel="stylesheet">

    {% block extra_css %}{% endblock extra_css %}
  {% endblock style_base %}
  <script>
      let SiteConfig = {
          FORCE_SCRIPT_NAME: "{{ FORCE_SCRIPT_NAME }}",
          STATIC_URL: "{{ STATIC_URL }}",
          VERSION: "{{ VERSION }}",
          CSS_VERSION: "{{ CSS_VERSION }}",
          DEBUG: "{{ DEBUG }}",
          MIN: "{{ MIN }}",

          FRONTEND_DATE_DATA_FORMAT: '{{ FRONTEND_DATE_DATA_FORMAT }}',
          FRONTEND_TIME_DATA_FORMAT: '{{ FRONTEND_TIME_DATA_FORMAT }}',
          FRONTEND_DATE_DISPLAY_FORMAT: '{{ FRONTEND_DATE_DISPLAY_FORMAT }}',
          FRONTEND_DATE_DATA_FORMAT_MOMENT: '{{ FRONTEND_DATE_DATA_FORMAT_MOMENT }}',
          FRONTEND_TIME_DATA_FORMAT_MOMENT: '{{ FRONTEND_TIME_DATA_FORMAT_MOMENT }}',
          FRONTEND_DATE_DISPLAY_FORMAT_MOMENT: '{{ FRONTEND_DATE_DISPLAY_FORMAT_MOMENT }}',
          FRONTEND_DATETIME_DATA_FORMAT_MOMENT: '{{ FRONTEND_DATETIME_DATA_FORMAT_MOMENT }}'
      };
  </script>

  <script src="{{ STATIC_URL }}requirejs/js/require{{ MIN }}.js?v={{ CSS_VERSION }}"></script>
  <script type="text/javascript">
      require(['{{ STATIC_URL }}requirejs/js/require.config.js?v={{ CSS_VERSION }}'], function () {
          require(['toastr'], function (toastr) {
              toastr.options = {
                  "closeButton": false,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "0",
                  "extendedTimeOut": "0",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut",
              };
              {% if not request.user.is_anonymous %}
                toastr['info']('You are already logged in as {{ user }}.', 'Note');
              {% endif %}

              let error_title = false;
              {% if form.non_field_errors %}
                {% if form_error_title %}
                  error_title = "{{ form_error_title }}\n";
                {% else %}
                  error_title = "Login Error";
                {% endif %}
                let errors = "";
                {% for error in form.non_field_errors %}
                  errors = errors.concat("\n" + "{{ error }}");
                {% endfor %}
                toastr['error'](errors, error_title);
              {% endif %}
          });
      });
  </script>


</head>

<body class="login-page" style="min-height: 512.391px;">
<div class="login-box">
  <div class="login-logo">
    {#    <img src="{{ STATIC_URL }}rooster_core/img/rooster.png" class="img-circle rooster-icon" alt="User Image">#}
    <span class="brand-text font-weight-light"><b>BrachySeeds</b></span>
  </div>
  <!-- /.login-logo -->
  {% block content %}
  {% endblock %}

</div>
<!-- /.login-box -->

</body>

{#      <form method="POST" action="{% url 'login' %}?{{ request.META.QUERY_STRING }}" autocapitalize="off"#}
{#            class="form-horizontal">#}
{#        {% if form.non_field_errors %}#}
{#          <div class="control-group error">#}
{#            <div class="controls">#}
{#              {% for error in form.non_field_errors %}#}
{#                <span class="help-block">{{ error }}</span>#}
{#              {% endfor %}#}
{#            </div>#}
{#          </div>#}
{#        {% endif %}#}
{#        <fieldset>#}
{#          {% csrf_token %}#}
{#          {% for field in form %}#}
{#            <div class="control-group ils-popover {% if field.errors %}error{% endif %}">#}
{#              <label class="control-label" for="{{ field.html_name }}">#}
{#                {{ field.label }}{% if field.field.required %}*{% endif %}:</label>#}
{#              <div class="controls">#}
{#                {{ field }}#}
{#                {% for error in field.errors %}#}
{#                  <span class="help-block">{{ error }}</span>#}
{#                {% endfor %}#}
{#              </div>#}
{#            </div>#}
{#          {% endfor %}#}
{#          {% if 'next=' not in request.META.QUERY_STRING %}#}
{#            <input type="hidden" name="next" value="{% url 'report' %}"/>#}
{#          {% endif %}#}
{#          <div class="form-actions">#}
{#            <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>#}
{#          </div>#}
{#        </fieldset>#}
{#      </form>#}
{##}
{##}
{#      {% if not user.is_authenticated %}#}
{#        <p>{% blocktrans %}If you have any trouble logging in to your account, contact us at#}
{#          <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>#}
{#      {% endif %}#}
{##}
{#    </div>#}
{#    <div class="col-lg-4">#}
{#      {% include "registration/_login_sidebar.html" %}#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}

