div.calendar-table > .table-condensed > thead tr:nth-child(2),
div.calendar-table > .table-condensed > tbody {
    display: none !important;
}
select.yearselect {
    min-width: 54px;
}
select.monthselect {
    width: 47px !important;
}
th.month {
    padding: 5px 0 !important;
}
.calendar-table {
    padding-left: 0 !important;
}
.ranges li:last-child {
    display: none;
}

#implant-chart,
#wellreading-chart,
#received-chart {
    width:100%;
    height:200px;
}

#calibration-chart {
    width:100%;
    height:250px;
}

#implant-stats:hover,
#calibration-stats:hover,
#received-stats:hover {
    background-color: rgba(60, 141, 188, 0.1)
}
#implant-stats th,
#implant-stats td {
    border: none;
}
g.y.axis > g.tick > line {
    opacity: 0.1;
}
g.y.axis > g > text, g.y.axis.yaxis2 > g > text {
    font-size: 12px;
}
