<div class="row">
    <div class="col-xs-12">
        <legend>Current Storage Info</legend>
        <div class="well">
            <legend>Storage</legend>
            <div>
                <label>Total # Seeds Stored:</label> <span class="pull-right" id="total-seeds">{{stored.total_seeds}}</span>
            </div>
            <div>
                <label>Total Activity (MBq):</label> <span class="pull-right" id="total-activity-mbq">{{stored.current_activity|floatformat:3}}</span>
            </div>
        </div>
    </div>
</div>
