{% extends 'sidebar_base.html' %}

{% block title %}{{ page_title }}{% endblock title %}

{% block extra_css %}
  <link href="{{ STATIC_URL }}select2/css/select2{{ MIN }}.css?v={{ VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}toastr/css/toastr{{ MIN }}.css?v={{ VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}flatpickr/css/flatpickr{{ MIN }}.css?v={{ VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}brachyseed/css/custom-select2.css?v={{ VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block require_javascript %}
  require(['shipment_detail']);
{% endblock require_javascript %}


{% block extra_js %}
  <script type="text/javascript">
      var ShipmentData = {{ shipment|safe }};
      var ShipmentItemData = {{ shipmentitems|safe }};
      var CalibrationData = {{ calibrations|safe }};
      var IsotopeData = {{ isotopes|safe }};
      var ImplantTypeData = {{ implanttype|safe }};
      var PatientImplantData = {{ implants|safe }};
      var RadOncData = {{ radoncs|safe }};
      var StorageVialData = {{storagevials|safe }};
      var wellRef = {{ well_reading_ref }};
      var wellTol = {{ well_reading_tol }};
      var reviewers = {{ reviewers|safe }};

  </script>
{% endblock extra_js %}

{% block main_content %}

  <div style="display: none;">{% csrf_token %}</div>

  <div class="row">
    <div class="col-lg-12">

      <div class="card card-light">
        <div class="card-header">
          <h3 class="card-title">Shipment Details</h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <dl class="row">

                <dt class="col-lg-4">P.O.#</dt>
                <dd class="col-lg-8">{{ object.po_number }}</dd>

                <dt class="col-lg-4">Received</dt>
                <dd class="col-lg-8">{{ object.received }} by {{ object.received_by }}</dd>

                <dt class="col-lg-4">Activity Ref. Date</dt>
                <dd class="col-lg-8">{{ object.reference_date }}</dd>

                <dt class="col-lg-4">Activity Received</dt>
                <dd class="col-lg-8">{{ object.activity_received|floatformat:2}} MBq</dd>

                <dt class="col-lg-4">Activity/seed</dt>
                <dd class="col-lg-8">{{ object.activity_per_seed|floatformat:3}} MBq ({{ object.activity_per_seed_mci|floatformat:3}} mCi)</dd>

                <dt class="col-lg-4">Background Reading:</dt>
                <dd class="col-lg-8">{{ object.background|floatformat:1}} &micro;R/h</dd>

                <dt class="col-lg-4">Surface Reading:</dt>
                <dd class="col-lg-8">
                  <span{% if object.surace_exceeded %}class="label label-warning"{% endif %}>
                  {{ object.surface|floatformat:1}} &micro;R/h
                  </span>
                </dd>

                <dt class="col-lg-4">Dose rate at 1m:</dt>
                <dd class="col-lg-8">
                  <span{% if object.dose_rate_1m_exceeded %}class="label label-warning"{% endif %}>
                  {{ object.dose_rate_1m|floatformat:1}} &micro;R/h
                  </span>
                </dd>


              </dl>
            </div>
            <div class="col-lg-6">
              <dl class="row">
                <dt class="col-lg-12">Items Received</dt>
                <dd class="col-lg-12">
                  <ul>
                    <li><strong>Total # seeds: {{ object.number_of_seeds }}</strong></li>
                    {% for item in object.shipmentitem_set.all %}
                      <li><strong>{{ item.number }} {{ item.implant_type }}</strong>
                        <ul>
                          <li><em>Activy Received: ({{ item.orig_activity_total|floatformat:2}} MBq)</em></li>
                          <li><em>Current Activy: ({{ item.cur_activity_total|floatformat:2}} MBq)</em></li>
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{#  <div class="row">#}
{#    <div class="col-lg-12">#}
{#      <div class="alert" ; style="display:none">#}
{#        <a class="close" href="#" data-dismiss="alert">&times;</a>#}
{#        <span id="review-message"></span>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}


  <div class="row">
    <div id="calibration-container" class="col-lg-12">

      <div class="card card-light card-tabs">
        <div class="card-header pl-0 pb-0 pt-1">
          <ul class="nav nav-tabs" id="calibration-tabs" role="tablist">
            <li><h5 class="card-title float-left pl-3 pt-2 pr-5">Calibrations</h5></li>
            <!-- ko foreach: calibrations -->
            <li class="nav-item">
              <a id="domain-table-tab" class="nav-link" role="tab"
                 data-bind="text: calibrationDateDisplay() || 'New', css: { active: $root.isActive(cal_id) }, click: $root.setActiveCal(cal_id)"
              >Table</a>
            </li>
            <!-- /ko -->
            <li class="float-right pl-2">
              <div class="btn btn-flat btn-secondary " data-bind="click: addCal" href="#" id="add-call">Add Cal</div>
            </li>
          </ul>
        </div>

        <div class="card-body">


          <div class="tab-content" data-bind="foreach: calibrations">
            <div class="tab-pane fade" data-bind="attr: { id: 'calibration-' + cal_id }, css: { 'active show': $root.isActive(cal_id, true) }">

              <div class="row">
                <div class="col-lg-12">
                  <div class="alert alert-danger" data-bind="visible: errorFail()">
                    One or more measurements exceeding tolerance level.
                  </div>
                </div>
              </div>

              <form data-bind="visible: canReview(), submit: review" class="form-horizontal" role="form" autocomplete="off">

                <div class="form-group row">
                  <label class="col-lg-3" for="review-username">Reviewer</label>

                  <div class="col-lg-3">
                    <select class="form-control inline rad-onc"
                            data-bind="
                              value:username,
                              attr:{id:'review-username-'+cal_id},
                              select2: {
                                  data: reviewers(),
                                  placeholder: '-- Reviewed By --',
                                  minimumResultsForSearch: 10,
                                  width: '100%'
                              }"
                    >
                    </select>
                  </div>
                  <div class="btn btn-primary btn-flat warning-button" data-bind="click: review">Mark Reviewed</div>
                </div>
              </form>
              <form class="form-horizontal" data-bind="submit: update">

                <div class="form-group row" data-bind="visible: reviewedBy">
                  <label class="col-lg-3 control-label">Reviewed By</label>
                  <div class="col-lg-3">
                    <div class="control-group">
                      <input readonly="readonly" class="form-control" type="text" data-bind="value:reviewedBy"/>
                    </div>
                  </div>
                </div>

                <div class="form-group row" data-bind="css:{'has-error' : hasError}">
                  <label class="col-lg-3 control-label">Calibration Date</label>
                  <div class="col-lg-3 has-feedback">
                    <input class="form-control flatpickr" type="text" data-bind="value: calibrationDate, disable: id, flatpickr: calibrationDate, flatpickrOptions: { minDate: minDate }" />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 control-label">Batch #</label>
                  <div class="col-lg-3">
                    <div class="control-group">
                      <input class="form-control" type="text" data-bind="value:batchNumber, disable:id"/>
                    </div>
                  </div>
                </div>

                <div class="form-group row" data-bind="css:{'has-error' : constancyFails() }">
                  <label class="col-lg-3 control-label">Well counter reading (GBq)</label>
                  <div class="col-lg-3">
                    <div class="control-group">
                      <input id="well-reading" class="form-control" type="text"
                             data-bind="value:wellReading, disable:id, attr:{id:'well-reading-'+cal_id}"
                      />
                      <input id="well-reading-ref" type="hidden"
                             data-bind="value:wellReadingRef, attr:{id:'well-reading-ref-'+cal_id}"
                      />
                      <input id="well-reading-tol" type="hidden"
                             data-bind="value:wellReadingTol, attr:{id:'well-reading-tol-'+cal_id}"
                      />
                      <span data-bind="visible:constancyFails()" class="help-text">
                                              Failing Constancy Test. Ref is {{ well_reading_ref|floatformat:3}}GBq </span>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <span data-bind="text:constancyDiffDisplay()" class="help-text"></span>
                  </div>

                </div>
                <fieldset>

                  <div class="row form-table" style="position:relative;">
                    <div class="col-lg-3">
                      <div class="form-group height-30">
                        <label class="col-lg-12 control-label">&nbsp;</label><br/>
                      </div>
                      <div class="form-group height-30">
                        <label class="col-lg-12 control-label"># of Seeds</label><br/>
                      </div>
                      <div class="form-group height-30">
                        <label class="col-lg-12 control-label">Calibrator Reading (MBq)</label><br/>
                      </div>
                      <div class="form-group height-30">
                        <label class="col-lg-12 control-label">Meas. Air Kerma (&mu;Gy&middot;&sup2; )</label><br/>
                      </div>
                      <div class="form-group height-30">
                        <label class="col-lg-12 control-label">Expected Air Kerma (&mu;Gy&middot;&sup2; )</label><br/>
                      </div>
                      <div class="form-group height-30">
                        <label class="col-lg-12 control-label">Error (%)</label>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="row" data-bind="foreach:measurements">
                        <div class="col-lg-2" data-bind="css:{'has-error': errorFail()}">
                          <div class="form-group" style="text-align:center">
                            <label data-bind="text:$parent.measurements().indexOf($data)+1"> </label>
                          </div>
                          <div class="form-group" data-bind="css:{'has-error': errorFail()}">
                            <input class="form-control" type="text" data-bind="value:numberSeeds, disable:$parent.id"/>
                          </div>
                          <div class="form-group" data-bind="css:{'has-error': errorFail()}">
                            <input class="form-control" type="text" data-bind="value:reading, disable:$parent.id"/>
                          </div>
                          <div class="form-group">
                            <input class="form-control" readonly="readonly" type="text"
                                   data-bind="value:measuredKermaDisplay"/>
                          </div>
                          <div class="form-group">
                            <input class="form-control" readonly="readonly" type="text"
                                   data-bind="value:expectedKermaDisplay"/>
                          </div>
                          <div class="form-group" data-bind="css:{'has-error': errorFail()}">
                            <input class="form-control" readonly="readonly" type="text" data-bind="value:errorDisplay"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <label class="control-label">&nbsp;</label>
                      <div class="well">
                        <div class="form-group" data-bind="css:{'has-error': errorFail()}">
                          <label class="control-label avg-error"
                                 data-bind="text:'Avg Abs Err (%): ' + avgErrorDisplay()"></label>
                        </div>
                        <div class="form-group">
                          <label class="control-label" data-bind="text:'Avg Err (%): ' + avgErrorDisplay2()"></label>
                        </div>
                      </div>
                    </div>

                    <div style="position:absolute; bottom:5px; right:15px;">
                      <div data-bind="visible: canSave(), click: update" type="submit"
                         class="btn btn-primary btn-flat pull-right">Save Calibration</div>
                    </div>

                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      {#        </div>#}
    </div>
  </div>

{#  <div class="row">#}
{#    <div class="col-lg-12">#}
{#      <div class="alert" ; style="display:none">#}
{#        <a class="close" href="#" data-dismiss="alert">&times;</a>#}
{#        <span id="save-message"></span>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

  <div class="row">
    <div id="patient-container" class="col-lg-12">

      <div class="card card-light">
        <div class="card-header pl-0 pb-1 pt-1">
          <h5 class="card-title pl-3 pt-2 pr-5">
            Implant &amp; Storage Data
          </h5>
          <div id="add-call" class="btn btn-secondary btn-flat pull-right margin-left-10" data-bind="click:addImplant" href="#"> Add Implant</div>
        </div>

        <div class="card-body">

          <div class="row">

          </div>
{#          <div class="row">#}
{#            <div class="col-lg-12">#}
{#              <div class="alert" ; style="display:none">#}
{#                <a class="close" href="#" data-dismiss="alert">&times;</a>#}
{#                <span id="patient-save-message"></span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}

          <div class="row">
            <div class="col-lg-2">
              <label>Date</label>
            </div>
            <div class="col-lg-2">
              <label>Patient ID</label>
            </div>
            <div class="col-lg-2">
              <label>Total # Seeds Implanted</label>
            </div>
            <div class="col-lg-2">
              <label>Implanted By</label>
            </div>
            <div class="col-lg-2">
              <label>Total # Seeds Stored</label>
            </div>
            <div class="col-lg-2">
              <label>Vial</label>
            </div>
          </div>
          <div class="row" data-bind="">
            <div data-bind="foreach:patients" style="margin-bottom:10px;" class="col-lg-12">
              <form class="form form-inline">
                <div class="row no-gutters pb-1 implant-row">
                  <div class="col-lg-2">
                    <div class="form-group">
                      <input class="form-control date flatpickr" type="text" data-bind="value:implanted, disable:id, flatpickr: implanted{#, flatpickrOptions: { minDate: minDate }#}" placeholder="Implant Date"/>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <input type="text" class="form-control inline"
                           data-bind="value:patientID, attr:{id:'patient-1'}, disable:id" placeholder="TOH Patient ID"/>
                  </div>
                  <div class="col-lg-2">
                    <input type="number" class="form-control inline num-seeds"
                           data-bind="value:numberSeeds, disable:id"/>
                  </div>
                  <div class="col-lg-2">
                    <select class="form-control inline rad-onc"
                            data-bind="value:radOnc, disable:id, options:$parent.radOncs, optionsValue:function(e){return e.id}, optionsText:function(e){return e.name}, optionsCaption:'-- Implanted By --'"></select>
                  </div>
                  <div class="col-lg-2">
                    <input type="number" class="form-control inline num-stored"
                           data-bind="value:numberSeedsStored, disable:id"/>
                  </div>
                  <div class="col-lg-2">
                    <select class="form-control inline vial"
                            data-bind="value:storageVial, disable:id, options:$parent.storageVials, optionsValue:function(e){return e.id}, optionsText:function(e){return e.vial_id}, optionsCaption:'-- Vial --'"></select>
                  </div>
                </div>
              </form>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <button data-bind="visible: canSave(), click: saveAll" type="submit"
                      class="btn btn-primary btn-flat float-right">Save Implants
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

{% endblock main_content %}

