{% extends 'base.html' %}

{% load brachy_tags %}

{% block title %}New Shipment{% endblock title %}

{% block extra_css %}
  <link href="{{ STATIC_URL }}select2/css/select2{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}flatpickr/css/flatpickr{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}brachyseed/css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block require_javascript %}
  require(['shipment']);
{% endblock require_javascript %}

{% block extra_js %}
  <script type="text/javascript">
      var urls = {
          {#            go_daterange: "{% url 'get_stats_data' %}"#}
      };
      var Shipment = {
          implantTypes: {{seed_types|safe}},
          surfaceLimit: {{surface_limit|safe}},
          doseRate1mLimit: {{dose_rate_1m_limit}}
      };

  </script>
{% endblock extra_js %}

{% block content %}

  <div class="row">
    <div class="col-lg-8">

      <div class="card card-light">

        <div class="card-header">
          <h3 class="card-title">New Shipment</h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <form class="form-horizontal" role="form" method="POST" novalidate>
                {% csrf_token %}
                {% for hidden in fs_form.hidden_fields %} {{ hidden }} {% endfor %}

                {% for error in form.non_field_errors %}
                  <div class="form-group has-error">
                    <span class="help-block error">{{ error }}</span>
                  </div>
                {% endfor %}
                {% for field in form.visible_fields %}
                  <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <div class="row">
                      <label class="col-lg-4" for="{{ field.html_name }}">
                        {{ field.label|safe }}{% if field.field.required %}*{% endif %}</label>
                      <div class="col-lg-4">
                        {{ field }}
                      </div>
                    </div>

                    {% for error in field.errors %}
                      <div class="row help-block">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">{{ error }}</div>
                      </div>
                    {% endfor %}

                    {% if field.help_text %}
                      <p><em>{{ field.help_text }}</em></p>
                    {% endif %}
                  </div>
                {% endfor %}

                <fieldset class="" id="seed-input-wrapper">
                  <h5><em>Seed Types Received</em></h5>
                  {{ formset.management_form }}

                  {% for error in formset.non_form_errors %}
                    <div class="form-group has-error row">
                      <span class="help-block error col-lg-12">{{ error }}</span>
                    </div>
                  {% endfor %}

                  <div class="row">
                    {% for field in formset.empty_form.visible_fields %}
                      <div class="col"><label>{{ field.label }}{% if field.field.required %}*{% endif %}</label></div>
                    {% endfor %}
                  </div>

                  {% for fs_form in formset %}

                    <div class="row">
                      <div class="col-lg-12">
                        {% for hidden in fs_form.hidden_fields %} {{ hidden }} {% endfor %}

                        {% if fs_form.errors %}
                          <div class="form-group fieldset-form-group{% if fs_form.errors %} has-error{% endif %}">
                            {% for field,errors in fs_form.errors.items %}
                              {% for error in errors %}
                                <span class="help-block">{{ error }}</span>
                              {% endfor %}
                            {% endfor %}
                          </div>
                        {% endif %}

                        <div id="form-group-{{ fs_form.prefix }}"
                             class="form-group fieldset-form-group{% if fs_form.errors %} has-error{% endif %}">
                          <div class="row">

                            {% for field in fs_form.visible_fields %}
                              <div class="col">
                                {{ field }}
                              </div>
                            {% endfor %}

                          </div>
                        </div>
                      </div>
                    </div>

                  {% endfor %}

                </fieldset>
                <button type="submit" class="btn btn-primary btn-flat float-right">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div><label>Total # seeds:</label> <span class="pull-right" id="total-seeds">0</span></div>
          <div><label>Total Activity (MBq):</label> <span class="pull-right" id="total-activity-mbq">0</span></div>
          <div><label>Total Activity (mCi):</label> <span class="pull-right" id="total-activity-mci">0</span></div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}
