{% extends 'base.html' %}

{% load listable %}

{% block title %}{{ page_title }}{% endblock title %}

{% block extra_css %}
  <link href="{{ STATIC_URL }}select2/css/select2{{ MIN }}.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}fontawesome/css/fontawesome{{ MIN }}.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}brachyseed/css/custom-multiselect.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}brachyseed/css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}brachyseed/css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}brachyseed/css/custom-daterangepicker.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}brachyseed/css/custom-tables.css?v={{ CSS_VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block require_javascript %}
  require(['listable']);
{% endblock require_javascript %}

{% block extra_js %}
  {% autoescape off %}
    {% listable view_name dom="<'row'<'col-lg-5'i><'col-lg-7'p>><'row'<'col-lg-12'tr>><'row'<'col-lg-5'><'col-lg-7'p>>" requirejs=True pagination_type='bootstrap3' css_table_class='table-sm table-hover' css_input_class='btn-flat btn-sm input-sm full-width form-control' auto_width=False %}
  {% endautoescape %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div id="shiplist" class="box box-default">
        <div class="box-header">
          <i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <h3 class="box-title">{{ page_title }}</h3>
        </div>
        <div class="box-body pad">

          {{ listable_table }}

        </div>
      </div>
    </div>
  </div>


  {#<div class="row">#}
  {#    <div class="col-sm-8">#}
  {#        {% if is_paginated %}#}
  {#            <ul class="pagination pull-right">#}
  {#                <span class="page-links">#}
  {#                    {% if page_obj.has_previous %}#}
  {#                        <a href="{% url 'shipment-list' %}?page={{ page_obj.previous_page_number }}">&laquo; Newer</a>#}
  {#                    {% endif %}#}
  {#                        <span class="page-current">#}
  {#                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
  {#                        </span>#}
  {#                    {% if page_obj.has_next %}#}
  {#                        <a href="{% url 'shipment-list' %}?page={{ page_obj.next_page_number }}">Older &raquo;</a>#}
  {#                    {% endif %}#}
  {#                </span>#}
  {#            </ul>#}
  {#        {% endif %}#}
  {##}
  {#        <table class="table table-striped">#}
  {#            <thead>#}
  {#                <tr>#}
  {#                    <th>ID</th>#}
  {#                    <th>PO #</th>#}
  {#                    <th>Received</th>#}
  {#                    <th>Received By</th>#}
  {#                    <th>Activity Received (MBq)</th>#}
  {#                    <th>Calibrated</th>#}
  {#                    <th>Calibrated By</th>#}
  {#                </tr>#}
  {#            </thead>#}
  {#            <tbody>#}
  {#                {% for shipment in object_list %}#}
  {#                    <tr>#}
  {#                        <td>{{shipment.id}}</td>#}
  {#                        <td><a href="{% url 'shipment-detail' pk=shipment.pk%}" title="Click to view details about this shipment">{{shipment.po_number}}</a></td>#}
  {#                        <td>{{shipment.received|date}}</td>#}
  {#                        <td>{{shipment.received_by.username}}</td>#}
  {#                        <td>{{shipment.activity_received}}</td>#}
  {#                        <td>{{shipment.latest_calibration.measured}}</td>#}
  {#                        <td>{{shipment.latest_calibration.measured_by}}</td>#}
  {#                    </tr>#}
  {#                {% endfor %}#}
  {#            </tbody>#}
  {#            <tfoot>#}
  {#                <tr>#}
  {#                    <th>ID</th>#}
  {#                    <th>PO #</th>#}
  {#                    <th>Received</th>#}
  {#                    <th>Received By</th>#}
  {#                    <th>Activity Received</th>#}
  {#                    <th>Calibrated</th>#}
  {#                    <th>Calibrated By</th>#}
  {#                </tr>#}
  {#            </tfoot>#}
  {#        </table>#}
  {#    </div>#}
  {#</div>#}


{% endblock content %}
