{% extends 'sidebar_base.html' %}

{% block title %}Storage Stats{% endblock title %}

{% block extra_css %}
  <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css?v={{ VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}brachyseed/css/custom-daterangepicker.css?v={{ VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}bootstrap-colorpicker/css/bootstrap-colorpicker{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}toastr/css/toastr{{ MIN }}.css?v={{ VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}seeds/css/stats.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}brachyseed/css/custom-tables.css?v={{ CSS_VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block require_javascript %}
  {{ block.super }}
  require(['stats']);
{% endblock require_javascript %}

{% block extra_js %}
  <script type="text/javascript">
      var urls = {
          go_daterange: "{% url 'get_stats_data' %}"
      };

      {#        var implantCountData = {{implant_stats.implant_counts|safe}};#}
      {#        var implantTickData = {{implant_stats.implant_ticks|safe}};#}
      {#        var calStats = {{cal_stats|safe}};#}
      var oldest_cal = {{ date_ranges.oldest_cal|safe }};
      var oldest_imp = {{ date_ranges.oldest_imp|safe }};

  </script>
{% endblock extra_js %}

{% block main_content %}

  <div class="row">
    <div class="col-lg-12">

      <div class="card card-light">

        <div class="card-header">
          <h3 class="card-title">
            Vials
          </h3>
        </div>

        <div class="card-body">
          <table class="table table-hover table-condensed">
            <thead>
            <tr>
              <th>ID</th>
              <th># Seeds</th>
              <th>Current Activity</th>
              <th>Last Emptied</th>
              <th>Empty</th>
            </tr>
            </thead>
            <tbody>
            {% for vial in vial_list %}
              <tr id="vial-row-{{ vial.id }}">
                <td class="vial-id">{{ vial.vial_id }}</td>
                <td class="vial-seeds">{{ vial.cur_number_seeds }}</td>
                <td class="vial-act">{{ vial.cur_activity|floatformat:3}}</td>
                <td class="date-emptied">{% firstof vial.last_emptied|date:"SHORT_DATE_FORMAT" "" %}</td>
                <td>
                  <div class="btn btn-warning btn-xs empty-button btn-flat" data-id="{{ vial.pk }}" title="Empty this Vial">Empty</div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">

      <div class="card card-light">

        <div class="card-header">
          <h3 class="card-title">
            <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
            Statistics
          </h3>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-lg-3"><label for="stat-range">Statistics date range:</label></div>
            <div class="col-lg-3"><input id="stat-range" class="form-control full-width months-only"></div>
            {#                    <div class="col-lg-2"><input id="go-daterange" class="btn btn-flat btn-sm btn-primary" value="Go" type="button" disabled> </div>#}
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h4>
                {#                    <i class="fa fa-bar-chart-o" aria-hidden="true"></i>#}
                Implant Statistics
              </h4>
              <div id="implant-stats" class="col-lg-12">


                <table class="table table-condensed table-hover">
                  <thead>
                  <tr>
                    <th># Patients Implanted</th>
                    <th># Seeds Implanted</th>
                    <th>Avg Seeds/Patient</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td id="td-pat-imp">
                      <div>---</div>
                    </td>
                    <td id="td-see-imp">
                      <div>---</div>
                    </td>
                    <td id="td-see-per-pat">
                      <div>---</div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div>
                  <div id="implant-chart-title" style="width:100%; text-align:center;">---</div>
                  <div id="implant-chart"></div>
                  <div style="display: none{#position: absolute; left: -1000px;#}"><input id="imp-colour"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h4>
                {#                    <i class="fa fa-bar-chart-o" aria-hidden="true"></i>#}
                Seeds Received Statistics
              </h4>
              <div id="received-stats" class="col-lg-12">


                <table class="table table-hover table-condensed">
                  <thead>
                  <tr>
                    <th># Shipments</th>
                    <th># Seeds Received</th>
                    <th>Total Activity of Seeds Received (MBq)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td id="td-shi-rec">
                      <div>---</div>
                    </td>
                    <td id="td-see-rec">
                      <div>---</div>
                    </td>
                    <td id="td-act-see-rec">
                      <div>---</div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div>
                  <div id="received-chart-title" style="width:100%; text-align:center;">---</div>
                  <div id="received-chart"></div>
                  <div style="display: none"><input id="rec-colour"></div>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h4>
                Calibration Statistics
              </h4>
              <div id="calibration-stats" class="col-lg-12">
                <div>
                  <div id="wellreading-chart-title" style="width:100%;text-align:center;">---</div>
                  <div id="wellreading-chart">
                    <svg></svg>
                  </div>
                  <div style="display: none"><input id="reading-colour"></div>
                  <div style="display: none"><input id="reference-colour"></div>
                </div>

                <div>
                  <div id="calibration-chart-title" style="margin-top:20px; width:100%;text-align:center;">---</div>
                  <div id="calibration-chart">
                    <svg></svg>
                  </div>
                  <div style="display: none"><input id="error-colour"></div>
                  <div style="display: none"><input id="measurement-colour"></div>
                  <div style="display: none"><input id="expected-colour"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h4>
                Calibration Data
              </h4>
              <div class="row">
                <div class="col-lg-12">
                  <table id="data-table" class="table table-hover table-condensed">
                    <thead>
                    <tr>
                      <th>Date</th>
                      <th>Reading</th>
                      <th>Reference</th>
                      <th>Average Error</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div id="export-csv" class="btn btn-primary btn-flat pull-right">Export as .csv</div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

{% endblock main_content %}

