{% extends 'base.html' %}

{% block title %}Storage Stats{% endblock title %}

{% block extra_js %}
{% endblock extra_js %}

{% block content %}

<div class="row">
    <div class="col-sm-8">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th># Seeds</th>
                    <th>Current Activity</th>
                    <th>Last Emptied</th>
                </tr>
            </thead>
            <tbody>
                {% for vial in object_list %}
                    <tr>
                        <td>{{vial.vial_id}}</td>
                        <td>{{vial.cur_number_of_seeds}}</td>
                        <td>{{vial.cur_activity}}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th># Seeds</th>
                    <th>Current Activity</th>
                    <th>Last Emptied</th>
                </tr>
            </tfoot>
        </table>


    </div>
</div>


{% endblock content %}
