{% extends 'sidebar_base.html' %}

{% block title %}Storage Stats{% endblock title %}

{% block extra_js %}
<script src="{{ STATIC_URL }}seeds/js/empty_vial.js"></script>
{% endblock extra_js %}

{% block main_content %}

<div class="row">
    <div class="col-sm-12">

        <legend>Vial Statistics</legend>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th># Seeds</th>
                    <th>Current Activity</th>
                    <th>Last Emptied</th>
                    <th>Empty</th>
                </tr>
            </thead>
            <tbody>
                {% for vial in object_list %}
                    <tr>
                        <td>{{vial.vial_id}}</td>
                        <td>{{vial.cur_number_seeds}}</td>
                        <td>{{vial.cur_activity|floatformat:3}}</td>
                        <td class="date-emptied">{% firstof vial.last_emptied|date:"SHORT_DATE_FORMAT" ""%}</td>
                        <td><a class="btn btn-warning btn-xs empty-button" href="{% url 'empty-storage' pk=vial.pk %}" title="Empty this Vial">Empty</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th># Seeds</th>
                    <th>Current Activity</th>
                    <th>Last Emptied</th>
                    <th>Empty</th>
                </tr>
            </tfoot>
        </table>


    </div>
</div>

{% endblock main_content %}
