{% extends 'base.html' %}

{% block content %}

{#<div class="row">#}
{#    <div class="col-md-12">#}
{#        <form method="POST">#}
{#            {{form}}#}
{#        </form>#}
{#    </div>#}
{##}
{#</div>#}
    <h1>SHIPMENT.HTML</h1>

{% endblock content %}
