
/*hr.tight {*/
/*    margin-top:5px;*/
/*    margin-bottom:5px;*/
/*}*/

/*!*.fieldset-form-group{*!*/
/*    !*margin-bottom:0;*!*/
/*!*}*!*/
/*.tab-pane .form-horizontal {*/
/*    margin-top:10px;*/
/*}*/
/*.form-table .form-group {*/
/*    margin-bottom:0;*/
/*}*/
/*.form-table .form-group .control-label{*/
/*    height:30px;*/
/*    padding-top:0;*/

/*}*/

/*.dropdown:hover .dropdown-menu {*/
/*    display: block;*/
/*}*/

/*dd ul {*/
/*    padding-left:10px;*/
/*}*/

/*.form-inline select.form-control{*/
/*    width:100%;*/
/*}*/

/*.form-inline .datepicker{*/
/*}*/
/*#patient-container label{*/
/*}*/

/*#patient-container .col-md-2,*/
/*#patient-container .col-md-1 {*/
/*    text-align:center;*/
/*    font-size:0.85em;*/
/*}*/
/*.padding-left-0 {*/
/*    padding-left: 0;*/
/*}*/
/*.padding-right-0 {*/
/*    padding-right: 0;*/
/*}*/

/*.dropdown-menu, .select2-dropdown {*/
/*    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);*/
/*    border: 1px solid #bbb;*/
/*}*/
/*li.disabled {*/
/*    opacity: 0.6;*/
/*}*/
/*ul.dropdown-menu li > div {*/
/*    padding: 3px 20px;*/
/*}*/
/*ul.dropdown-menu li > div > i {*/
/*    margin-right: 10px;*/
/*}*/
/*.popover {*/
/*    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);*/
/*    max-width: 100%;*/
/*    color: #777;*/
/*}*/

/*.margin-right-10 {*/
/*    margin-right: 10px;*/
/*}*/
/*.max-width-lg {*/
/*    max-width: 1200px;*/
/*    margin: auto;*/
/*}*/

/*table.table {*/
/*    width: 100%;*/
/*}*/
/*table.dataTable tr.odd td.sorting_1 {*/
/*    background-color: rgba(60, 141, 188, 0.16);*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable tr.odd td.sorting_2 {*/
/*    background-color: rgba(60, 141, 188, 0.12);*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable tr.odd td.sorting_3 {*/
/*    background-color: rgba(60, 141, 188, 0.08);*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable tr.even td.sorting_1 {*/
/*    background-color: rgba(60, 141, 188, 0.14);*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable tr.even td.sorting_2 {*/
/*    background-color: rgba(60, 141, 188, 0.10);*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable tr.even td.sorting_3 {*/
/*    background-color: rgba(60, 141, 188, 0.06);*/
/*    border-color: transparent;*/
/*}*/
/*.table-condensed > thead > tr > th,*/
/*.table-condensed > tbody > tr > th,*/
/*.table-condensed > tfoot > tr > th,*/
/*.table-condensed > thead > tr > td,*/
/*.table-condensed > tbody > tr > td,*/
/*.table-condensed > tfoot > tr > td {*/
/*    padding: 2px;*/
/*}*/
/*table.table thead .sorting,*/
/*table.table thead .sorting_asc,*/
/*table.table thead .sorting_desc {*/
/*    cursor: pointer;*/
/*	*cursor: hand;*/
/*}*/
/*table.table thead .sorting:before {*/
/*    content: '\f07d';*/
/*    font-family: FontAwesome;*/
/*    padding-right: 8px;*/
/*}*/
/*table.table thead .sorting_asc:before {*/
/*    content: '\f160';*/
/*    font-family: FontAwesome;*/
/*    padding-right: 8px;*/
/*}*/
/*table.table thead .sorting_desc:before {*/
/*    content: '\f161';*/
/*    font-family: FontAwesome;*/
/*    padding-right: 8px;*/
/*}*/
/*table.table > thead > tr > th > span > div > ul > li.active > a,*/
/*.dataTables_wrapper > div > div > div > ul > li.active > a {*/
/*    background-color: #3c8dbc;*/
/*}*/
/*table.table > thead > tr > th > span > div > ul > li.active > a:hover,*/
/*.dataTables_wrapper > div > div > div > ul > li.active > a:hover {*/
/*    background-color: #357ca5;*/
/*}*/
/*.full-width, .filter_column, .filter_column > div.btn-group {*/
/*    width: 100% !important;*/
/*    min-width: 100px;*/
/*    box-sizing: border-box;*/
/*    -webkit-box-sizing:border-box;*/
/*    -moz-box-sizing: border-box;*/
/*}*/
/*.pagination {*/
/*    margin: 0;*/
/*    float: right;*/
/*}*/
/*table.table-hover tr.no-hover:hover {*/
/*    background-color: inherit;*/
/*}*/
/*table.table-valign-middle > tbody > tr > td,*/
/*table.table-valign-middle > thead > tr > td,*/
/*table.table-valign-middle > tfoot > tr > td {*/
/*    vertical-align: middle;*/
/*}*/
/*.margin-l-10 {*/
/*    margin-left: 10px;*/
/*}*/
/*#listable-table-shipment-list > thead > tr:nth-child(2) > th:nth-child(1) > span > input {*/
/*    min-width: 55px;*/
/*}*/
/*#listable-table-shipment-list > tbody > tr > td:nth-child(1) {*/
/*    width: 60px;*/
/*}*/
/*#listable-table-shipment-list > thead > tr:nth-child(2) > th:nth-child(2) > span > input {*/
/*    min-width: 130px;*/
/*}*/
/*#listable-table-shipment-list > tbody > tr > td:nth-child(2) {*/
/*    width: 135px;*/
/*}*/
/*#shiplist {*/
/*    max-width: 1200px;*/
/*    margin: auto;*/
/*}*/