{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'BrachySeed Admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'home' %}" title="Back to main site">BrachySeeds</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
