

{% load static i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta charset="utf-8">
  <title>BrachySeeds :: {% block title %}Home{% endblock title %}</title>
  {% block css %}

    <link href="{{ STATIC_URL }}fontawesome/css/all{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}brachyseed/css/custom-fontawesome.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}adminlte/css/adminlte{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}brachyseed/css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}toastr/css/toastr.css?v={{ CSS_VERSION }}" rel="stylesheet">

    {% block extra_css %}{% endblock extra_css %}
  {% endblock %}

  <script type="text/javascript">
      let SiteConfig = {
          VERSION: '{{ VERSION }}',
          CSS_VERSION: '{{ CSS_VERSION }}',
          STATIC_URL: '{{ STATIC_URL }}',
          DEBUG: '{{ DEBUG }}',
          MIN: '{{ MIN }}',
          CSRF_COOKIE_NAME: '{{ CSRF_COOKIE_NAME }}',

          FRONTEND_DATE_DISPLAY_FORMAT: '{{ FRONTEND_DATE_DISPLAY_FORMAT }}',
          FRONTEND_DATE_DATA_FORMAT: '{{ FRONTEND_DATE_DATA_FORMAT }}',
          FRONTEND_TIME_DATA_FORMAT: '{{ FRONTEND_TIME_DATA_FORMAT }}',
          FRONTEND_DATE_DATA_FORMAT_MOMENT: '{{ FRONTEND_DATE_DATA_FORMAT_MOMENT }}',
          FRONTEND_TIME_DATA_FORMAT_MOMENT: '{{ FRONTEND_TIME_DATA_FORMAT_MOMENT }}',
          FRONTEND_DATE_DISPLAY_FORMAT_MOMENT: '{{ FRONTEND_DATE_DISPLAY_FORMAT_MOMENT }}',
          FRONTEND_DATETIME_DATA_FORMAT_MOMENT: '{{ FRONTEND_DATETIME_DATA_FORMAT_MOMENT }}'
      };

      let AjaxUrls = {
          empty_vial: "{% url 'empty-storage' pk=0 %}",
          shipment_calibration: "{% url 'shipment-detail' pk=0 %}",
          shipment_implant: "{% url 'shipment-detail' pk=0 %}",
          shipment_cal_review: "{% url 'shipment-detail' pk=0 %}",
      }
  </script>
  <script src="{{ STATIC_URL }}requirejs/js/require{{ MIN }}.js?v={{ CSS_VERSION }}"></script>
  <script type="text/javascript">
      require(['{{ STATIC_URL }}requirejs/js/require.config.js?v={{ CSS_VERSION }}'], function () {
          require(['jquery', 'bootstrap', 'adminlte', 'project'], function () {
              {% block require_javascript %}
              {% endblock require_javascript %}
          });
      });
  </script>
  {% block extra_js %}{% endblock extra_js %}

</head>

<body class="layout-top-nav" {% block body_attr %}{% endblock %}>
  <div class="wrapper">

    <nav class="main-header navbar navbar-expand-md navbar-dark navbar-success">
      <div class="container-xl">
        <a href="{% url "home" %}" class="navbar-brand">
          {#        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">#}
          <span class="brand-text font-weight-light"><b>BrachySeeds</b></span>
        </a>

        {#      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
        {#        <span class="navbar-toggler-icon"></span>#}
        {#      </button>#}

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
          <!-- Left navbar links -->

          {% if request.user.is_authenticated %}

            <ul class="nav navbar-nav">
              <li class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                  Shipments<b class="caret"></b>
                </a>
                <ul aria-labelledby="incidents-dropdown" class="dropdown-menu border-0 shadow">
                  <li><a class="dropdown-item" href="{% url 'shipment' %}">
                    Enter New Shipment
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'shipment-list' %}">
                    Previous Shipments
                  </a></li>
                </uL>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'stats' %}">
                Stats
              </a></li>
            </ul>

          {% endif %}

          <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item dropdown">
              {% if not request.user.is_anonymous %}
                <input id="username" type="hidden" value="{{ request.user.username }}"/>
                <a id="sign-out-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   class="nav-link dropdown-toggle">
                  {{ request.user }}
                  <b class="caret"></b>
                </a>
                <ul aria-labelledby="sign-out-dropdown" class="dropdown-menu border-0 shadow">
                  {% if request.user.is_staff %}
                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">
                      Admin
                    </a></li>
                  {% endif %}
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">
                    Logout
                  </a></li>
                </ul>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">
                  Login
                </a></li>
              {% endif %}
            </li>
          </ul>


        </div>
      </div>
    </nav>

    <div class="container-xl" style="margin-top: 50px;">

      {% block page_title %}{% endblock page_title %}

      {% block content %}
      {% endblock content %}

      {% block footer %}
        <div class="row">
          <div class="legal col-lg-12 text-center">
            <hr/>
            BrachySeeds+ v{{ VERSION }} | &copy; 2020 The Ottawa Hospital Cancer Center
          </div>
        </div>
      {% endblock footer %}
    </div> <!-- /container -->
  </div>


  {% block modal %}{% endblock modal %}



</body>
</html>
