{% extends 'base.html' %}

{% block require_javascript %}
{% endblock require_javascript %}

{% block content %}

    <div class="row max-width-lg">
        <div class="col-md-9">
            {% block main_content %}{% endblock main_content %}
        </div>
        <div class="col-md-3">
            {% block sidebar%}
                {% include 'seeds/_seeds_sidebar.html' %}
            {% endblock sidebar %}
        </div>

    </div>

{% endblock content %}

